
body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Roboto','Helvetica Neue',helvetica,arial,sans-serif;
    font-weight: 300;
    background: #000;
}
a:any-link {
    text-decoration: none;
    color:#A43A6E;
}
h1, h2{
    font-family: 'Montserrat','Helvetica Neue','helvetica',arial,sans-serif;
    font-weight: 900;
}
img {
    max-width: 100%;
    height: auto;
}
h3{
    font-family: 'Oswald','Bebas Neue',condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
h1,h2,h4,h5,h6{
    text-align: center;
    width: 100%;
}

#board1{
    height: 100vh;
    width: 100%;
    background: url(../img/friendsFood.jpg) no-repeat center center #000;
    background-size: cover;
    margin: 0px;
    padding: 20vh 0px 0px;
}
.row.logo-container{
    text-align: center;
    background: rgba(145,1,77,0.7);
    padding: 0px 0px 20px;
    color: #FFF;
    margin: 0px 0px 40px;
}
.row.logo-container h1, .row.logo-container h2{
    text-align: center;
    color: #FFF;
}
.montBold{
    font-family: 'Montserrat','Helvetica Neue',helvetica,arial,sans-serif;
    font-weight: 900;
}
.oswald{
    font-family:'Oswald','Bebas Neue','Impact',condensed,sans-serif;
}
.row.logo-container h1{
    font-size: 9rem;
    line-height: 9rem;
    margin: 0px;
    padding: 0px;
}
.row.logo-container h2{
    font-size: 2.1rem;
    line-height: 2.1rem;
    font-weight: 100;
    padding: 0px;
}
.row.logo-container .relax{
    font-weight: 700;
}
.row.selection-container{
    width: 90%;
    margin: 0px auto;
    background: rgba(0,0,0,0.3);
    min-height: 250px;
    border-radius: 20px 20px 80px 80px;
}
.row.selection-container h2{
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    background: #85B13C;
    width: 50%;
    height: 70px;
    font-style: italic;
    text-shadow: 2px 2px 0px #507614;
    cursor: pointer;
}
.row.selection-container h2.inactive{
    background: #689520;
    color: #3e5e0b;
    text-shadow: none;
}
.row.deliver-options, .row.recipe-options, .row.movie-options, .row.music-options, .row.book-options{
    width: 80%;
    max-width: 960px;
    margin: 0px auto;
    background: #FFF;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px 30px #000;
    position: absolute;
    z-index: 3;
    left: 21.5%;
    top: 20vh;
    }
    .row.deliver-options h2, .row.recipe-options h2, .row.movie-options h2, .row.music-options h2, .row.book-options h2{
        margin-bottom: 30px;
    }
.btn, button.deliver-btn {
    margin: 0px auto 20px;
    text-align: center;
    border: 5px solid #000;
    width: 90%;
    padding: 30px;
    display:block;
    border-radius: 200px;
    font-family: 'Oswald','Bebas Neue','Impact',condensed,sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(255,255,255,0.8);
    color: #A43A6E;
    transform: scale(1.0);
    transition: all .25s ease .125s;
    }
    .deliverCat.btn.circle-btn{
        color: #000;
    }
    .deliverCat.btn.circle-btn:hover{
        color: #FFF;
    }
    .btn:hover{
        background: #000;
        color: #FFF;
    }
.deliverOptionsWrap,.recipeOptionsWrap,.movieOptionsWrap,.musicOptionsWrap,.bookOptionsWrap{
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0px;
    opacity: 0.0;
    display: none;
}
.recImg img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit:cover;
}
.recImg{margin:-20px -20px 20px -20px;}
.recImg img{position:relative; top: 0;left:0;border-radius: 20px 20px 0px 0px}


.bookDescription strong{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}
/* ======================= END RECIPE STYLES ======================= */

#enterZip{
  flex-direction: row;
  flex-wrap:wrap;
  padding: 5px;
  border: none;
}
#locationInput.location{
  text-align: right;
  margin: 0px auto;
}

input#zipSearch{
  flex-basis: 20%;
  margin: 0px auto 7px auto;
  border-radius: 5px;
  max-width: 100px;
  border: 1px solid #999;
  padding: 0px 5px;
  color: #999;
}
.zipVarStore.btn{
  padding: 0px 5px;
  background: #000;
  color:#FFF;
  margin-bottom: 0px;
  border: none;
}
.zipVarStore.btn:hover{
  background: #a43a6e;
}



#enterZip{
    opacity: 0.0;
    display: none;
    transition: all .5s;
    background: #FFF;
    font-family: 'Oswald','Bebas Neue','Impact',condensed,sans-serif;
    font-size: 1.75rem;
    border-radius: 200px;
    border: none;
}

#deliverIt label, #deliverIt input{
    float:left;
}

#delCatInput, #recCatInput, #movCatInput, #musCatInput, #booCatInput{
border-radius: 5px;
border: 1px solid #CCC;
padding: 17px 5px 20px 5px;
width: 66%;
margin: 20px 0px;
font-family: 'Oswald','Bebas Neue',condensed,sans-serif;
font-weight: 300;
text-transform: uppercase;
}
.delCatInputBtn, .recCatInputBtn, .movCatInputBtn, .musCatInputBtn, .booCatInputBtn{
border: none;
width: 32%;
padding: 20px 20px;
border-radius: 5px;
background: #A43A6E;
}
.delCatInputBtn i, .recCatInputBtn i, .movCatInputBtn i, .musCatInputBtn i, .booCatInputBtn i{
color: #FFF;
}
.closeModal, .closeModal2, .closeModal3, .closeModal4, .closeModal5, .closeModal6, .closeModal7, .closeModal8, .closeModal9{
    font-family: 'Roboto','Helvetica Neue',helvetica,arial,sans-serif;
    background: #eaeaea;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 20px;
    color: #999;
    max-height: 40px;
}
.closeModal:hover, .closeModal2:hover, .closeModal3:hover, .closeModal4:hover, .closeModal5:hover, .closeModal6:hover, .closeModal7:hover, .closeModal8:hover, .closeModal9:hover{
    color:#000;
}
.recipes {
    cursor: pointer;
}
.singleRecipe{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    display: none;
}
.singleRecipe h3{
  width: 100%;
  margin-top: -20px;
  border-bottom: 3px dotted #ccc;
  margin-bottom: 30px;
  padding: 10px 20px;
}
.singleImgWrap{
    flex-basis: 30%;
}
.singleImgWrap img{
  height: 400px;
  flex-basis: 33%;
  object-fit: cover;
  order: 1;
  border-radius: 20px;
}
.singleRecipe .recipeInstructions{
  order: 2;
  flex-basis: 33%;
  font-size: 14px;
  padding: 0px 20px 20px;
  box-sizing: border-box;
}
.singleRecipe .recipeInstructions b{
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: green;
  text-transform: uppercase;
}
.singleRecipe ul{
    order: 3;
    font-style: italic;
    background: #eaeaea;
    width: 33%;
    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 24px;
    }
    .singleRecipe ul b{
        font-style: normal;
        text-transform: uppercase;
        font-family: 'Oswald','Impact','Bebas Neue',condensed, sans-serif;
        color: #666;
        font-size: 24px;
        margin-left: -12px;
    }
.singleRecipe .recipeServings, .singleRecipe .recipeReady{
    order: 5;
    background: #A43A6E;
    border-radius: 40px;
    padding: 7px 20px;
    color: #FFF;
    margin: .5%;
    flex-basis: 49%;
    text-align: center;
    font-family: 'Oswald','Bebas Neue','Impact',condensed, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}
.singleRecipe .recipeReady{
  order: 4;
}
.deliver-api.row, .recipe-api.row, .movie-api.row, .music-api.row, .book-api.row{
    background: #FFF;
    max-width: 1200px;
    width: 80%;
    border-radius: 40px;
    margin: 0px auto;
    position: relative;
    left: 0%;
    top: 10vh;
    opacity: 0.0;
    padding: 40px;
    height: max-content;
}
.deliver-api.row .api-object h3{
    font-family: 'Oswald','Bebas Neue',condensed,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #e21e2d;
    font-size: 48px; margin-bottom: 30px;
}
.deliveryCatSpan, .userZipSpan{
  font-size: 40px;
  color: #e21e2d;
  font-weight: 900;
  position: relative;
  top: 5px;
}

/* =========================== RECIPE STYLES -- SLF ------ */
.recipe-api.row .api-object{
    border: 1px solid #666;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    margin: 3px;
    flex-basis: calc(33% - 6px);
}
.recipe-api.row .api-object h3{
    text-align: left;
    font-family: 'Oswald','Bebas Neue',condensed,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.deliver-api.row .api-object ul,.recipe-api.row .api-object ul{
    font-weight: 700;
    margin-left: -20px;
}
.deliver-api.row .api-object ul li, .recipe-api.row .api-object ul li{
    font-weight: 300;
    margin-left: 20px;
}

/* -------------- ACTIVITY PATH --------------------- */
.todo-selection{
    display: none;
}

/* -------------------- MUSIC PATH ------------------ */
.musicOptionsWrap.musicModalRec4 iframe{
    border-radius: 10px;
    margin: 0px auto;
}

/* ===================================
-------------------- MEDIA QUERIES ---
==================================== */

@media screen and (max-width: 780px){
    .row.logo-container h1{
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px){
    .row.logo-container h1{
        font-size: 5rem;
    }
}